@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #f5f5f6 !important;
}

.main-container{
  width: 90%;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
}


.logo-main{
margin-top: 55px !important;
background-color: black;
margin: 0 auto;
line-height: 100px;
width: 120px;
border-radius: 40px 0px 40px 0px;


}

.div-1{
  border: none;
  height: 220px !important;

}

.div-2 {
  /* border: 1px solid red !important; */
  height: fit-content;
}

.div-3{
  /* border: 1px solid red !important; */
  height: 100px !important;
}

.logo{
  width: fit-content;
  background-color: black;
  margin: 0 auto;
  align-items: center;
  padding-top: 10px;
}

.fa-shopping-bag{
  color: white;
  text-align: center !important;
  font-size: 35px;
  }


.log-in{
  width: 117px;
  height: 47px;
  margin-top: 32px !important;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900 !important;
  font-size: 35px;
  line-height: 47px;
  color: #212529;
  margin: 0 auto;
}

.input-main-div{
  width: 100%;
  display: flex;
  justify-content: center;

}

.input{
  font-family: 'Roboto', sans-serif;
  width: 90%;
  border: 1px solid #cacaca;
  padding: 8px;
  color: #212529;
  border: 1px solid rgb(206, 206, 206);
  font-size: 16px !important;
  font-style: normal;
  line-height:  19.09px;
  font-style: normal;
  font-weight: normal;
  line-height: 19px;
  letter-spacing: -0.32px;
  margin-bottom: 5px !important;
  padding: 12.5px 10px;
} 
.text{
  display: flex;
  justify-content: center !important;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.top{
  margin-top: 10px;
}
.remember{
  display: flex;
  width: 90%;
  margin: 0 auto;
  margin-top: 12px ;
}

.remember p {
  font-size: 20px !important;
  font-weight: 400;
  margin-left: 10px;
}

.log-in-button{
  font-family: 'Roboto', sans-serif;
  width: 90%;
  color: #212529;
  border: 1px solid rgb(206, 206, 206);
  font-size: 18px !important;
  font-style: normal;
  line-height:  19.09px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: -0.32px;
  margin-bottom: 5px !important;
  padding: 12.5px 10px;
  margin: 0 auto;
  background-color: black;
  color: white !important;
  border-radius: 10px;
  margin-top: 10px;
} 

.create-an-acc{
  margin-top: 14px !important;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #212529; 
}

.align{
  margin-top: 119px !important;
  text-align: center;
  font-family: 'Roboto', sans-serif;
line-height: 19px;
letter-spacing: 0em;
font-style: normal;
font-weight: 500;
font-size: 16px;
color: #B3B3B3;
}

/* .checkbox{
  height: 16px !important;
width: 16px;
left: 0px;
top: 1.5px;
border-radius: 4px;
padding: 3px;
} */
/* input:focus {
outline: none;
}


.no-line{
  border-top: none;
}

/* icon  */


.d-flex{
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: space-between;
  margin-top: 30px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.para{
  text-align: center;
  color: gray;
  margin-top: 10px;
}

.question{
  text-align: center;
  margin-top: 11px !important;
  width: 90%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  line-height: 120%;
  height: 58px;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
   color: #000000;
}

.dropdown-div {
  border: 1px solid gray;
  border-radius: 5px;
  margin-top: 41px !important;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
}

.dropdown-div p {
height: 33px;
font-family: 'Roboto', sans-serif;

font-style: normal;
font-weight: bolder !important;
font-size: 20px;
line-height: 23px;
display: flex;
align-items: center;
letter-spacing: 0.68px;

color: #000000;
}

.margintop-last-din{
  margin-top: 19px !important;
}



.extra{
  margin-top: 50px;
}
.parag{
  text-align: center;
  color: #2b80fd;
  font-family: 'Roboto', sans-serif;
font-size: 19px;
font-style: normal;
font-weight: 900 !important;
line-height: 23px;
letter-spacing: 0em;
text-align: center;
margin-top: 41px;
}

.week{
  align-items: center;
}

.week div{
  margin: 0px 10px 0px 10px;
}

.week p {
  font-size: 24px;
height: 29px;
font-family: 'Roboto' , sans-serif;
font-style: normal;
font-weight: 900 !important;
font-size: 24px;
line-height: 120%;
/* identical to box height, or 29px */
color: #000000;
}



.week i {
  font-size: 20px !important;
}





.margin10 {
  margin-top: 10px;
}

.calnder{
  margin-top : 20px !important; 
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.calnder p {
width: 25px;
height: 20px;
border: 1px solid white !important;
color: white !important;
font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 500 !important;
font-size: 17px;
line-height: 120%;
text-align:  center;  
color: #000000;

}

.margincal {
  margin-top: 5px !important;
}

.margincal p {  
  font-size: 20px;
  color: #2F80ED;
}

.img{
  margin-top: 27px !important;
  width: 70%;
  margin: 0 auto;
}

.babysize {
margin-top: 5px !important;
font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 120%;
box-shadow: 0px 20px 50px 0px #12112714;
text-align: center;
height: 130px;
width: 90%;
margin: 0 auto;
color: #000000;
}

.main{
  display: flex;
  justify-content: space-around;
  text-align: center !important;
}

.lenght-main{
    text-align: center;
}

.lenght{
  height: 22px;
  margin-top: 12px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 120%;
  color: #000000;
  text-align: center !important;
}
.fit{
height: 32px;
margin-top: 6px;
font-weight: 900 !important;
font-size: 26px;
line-height: 120%;
color: #000000;
}

.fir2{
  height: 22px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 120%;
  color: #CDCDCD;
}



.Continue-but{
  background-color: black;
  width: 90%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 12px;
  margin-top: 76px !important;
  font-family: 'Roboto';
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 23px;
letter-spacing: 0.3799999952316284px;
text-align: left;
color: white;
border-radius: 10px;

}

/* fruit image  */

/* .fruit-image {
  width: 90% !important;
  margin: 0 auto;
  
} */

.weekly-outlook{
  width: 90%;
  margin: 0 auto;
  margin-top: 21px !important;
}
.weekly-outlook h1 {
height: 29px;
font-family: 'Roboto';
font-weight: 700 !important;
font-size: 24px;
line-height: 120%;
/* identical to box height, or 29px */


color: #000000;
}
.main-div-length{
  width: 90%;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 0px 0px 10px 10px;
}

.weekly{
  width: 90%;
  margin: 0 auto;
  padding: 13px;
  font-weight: bold;
  font-size: 22px;
}

.card {
  width: 90%;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 0px 20px 50px rgba(18, 17, 39, 0.08);
  margin-top: 23px !important;
}

.margin{
  margin-top: 20px;
}


.card-image{
  width: 100%;
  margin: 0 auto;
  border-radius: 20px 20px 0px 0px;
  height: 164px !important;
}

.Baby’s-Development{
height: 24px;
font-family: 'Roboto';
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 120%;
color: #000000;
margin-top: 14px !important;
width: 90%;
margin: 0 auto;
}


.dic{
  margin-top: 9px !important;
  width: 90%;
  margin: 0 auto;
font-family: 'Roboto';
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 120%;
color: #91908F;
}
.border1{
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}



.blog-image img {
  width: 99%;
  margin: 0 auto;
  height: 233px !important;
}

.blog-title{
  margin-top: 22.05px !important;
  width: 90%;
  margin: 0 auto;
  font-family: 'Roboto';
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 29px;
letter-spacing: 0em;

}

.blog-article {
  margin-top: 22.05px !important;
  width: 90%;
  margin: 0 auto;
font-family: 'Roboto';
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 120%;
color: #90908F;
}

.blog-article h1 {
  font-weight: bold;
}
